* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: montserrat;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #EEEEEE;
}

.findid-form {
	width: 360px;
	background: #fff;
	height: 550px;
	padding: 80px 40px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.findid-form h2 {
	text-align: center;
	margin-bottom: 10px;
	color: #ccc5af;
}

.findid-form h6 {
  text-align: center;
  margin-bottom: 50px;
  color: #ccc5af;
}

.txtb {
	border-bottom: 2px solid #ccc5af;
	position: relative;
	margin: 30px 0 10px 0;
}

.txtb input {
	font-size: 15px;
	color: #333;
	border: none;
	width: 100%;
	outline: none;
	background: none;
	padding: 0 5px;
	height: 40px;
}

.txtb span::before {
	content: attr(data-placeholder);
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	z-index: -1;
	transition: .5s;
}

.focus + span::before {
	top: -5px;
}

.focus + span::after {
	width: 100%;
}

.findbtn {
	display: block;
	width: 100%;
	height: 50px;
	border: none;
	background: #ccc5af;
	background-size: 200%;
	color: #eeeeee;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	margin-top: 20px;
}
















