<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyshare.dao.GameMatchingDao">

  <!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
  <resultMap type="GameMatching" id="GameMatchingMap">
    <id column="game_matching_id" property="gameMatchingNo"/>
    <result column="summoner_id" property="summonerNo"/>
    <result column="wanted_position" property="wantedPosition"/>
    <result column="wanted_gender" property="wantedGender"/>
    <result column="wanted_voice" property="wantedVoice"/>
    <result column="created_date" property="createdDate"/>
  </resultMap>

   <resultMap type="GameMatching" id="findWithGameMatchingMap">
    <id column="game_matching_id" property="gameMatchingNo"/>
    <result column="summoner_id" property="summonerNo"/>
    <result column="wanted_position" property="wantedPosition"/>
    <result column="wanted_gender" property="wantedGender"/>
    <result column="wanted_voice" property="wantedVoice"/>
    <result column="created_date" property="createdDate"/>

    <collection property="summoners" ofType="Summoner">
      <id column="summoner_id" property="summonerNo"/>
    <result column="member_id" property="memberNo"/>
    <result column="name" property="name"/>
    <result column="id" property="id"/>
    <result column="summoner_level" property="summonerLevel"/>
    <result column="profile_icon" property="profileIcon"/>
    <result column="tier" property="tier"/>
    <result column="rank" property="rank"/>
    <result column="wins" property="wins"/>
    <result column="losses" property="losses"/>
    <result column="league_points" property="leaguePoints"/>
    </collection>
    </resultMap>
  
  <select id="findAll" resultMap="findWithGameMatchingMap">
    select
      g.game_matching_id,
      g.summoner_id,
      g.wanted_position,
      g.wanted_gender,
      g.wanted_voice,
      g.created_date,
      s.name,
      s.summoner_level,
      s.profile_icon,
      s.tier,
      s.rank,
      s.wins,
      s.losses,
      s.league_points
    from game_matching g
    left join summoner s on g.summoner_id=s.summoner_id
    order by game_matching_id desc
  </select>
  
  <select id="findBy" parameterType="int" resultMap="GameMatchingMap">
    select
      game_matching_id,
      summoner_id,
      wanted_position,
      wanted_gender,
      wanted_voice,
      created_date
    from game_matching
    where
      game_matching_id=#{gameMatchingNo}
  </select>
  
  <insert id="insert" parameterType="GameMatching" useGeneratedKeys="true" keyColumn="game_matching_id" keyProperty="gameMatchingNo">
    insert into game_matching(
      summoner_id,
      wanted_position,
      wanted_gender,
      wanted_voice,
      created_date)
    values(#{summonerNo},#{wantedPosition},#{wantedGender},#{wantedVoice},now()) 
  </insert>
  
  <update id="update" parameterType="GameMatching">
    update game_matching set
      game_matching_id,
      summoner_id,
      wanted_position,
      wanted_gender,
      wanted_voice,
      created_date
    where game_matching_id=#{gameMatchingNo}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from game_matching
    where game_matching_id=#{gameMatchingNo}
  </delete>

</mapper>