<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyshare.dao.MemberDao">

  <resultMap type="Member" id="MemberMap">
    <id column="member_id" property="memberNo"></id>
    <result column="nickname" property="nickname" />
    <result column="name" property="name" />
    <result column="email" property="email" />
    <result column="password" property="password" />
    <result column="tel" property="tel" />
    <result column="post" property="post" />
    <result column="basic_address" property="basicAddress" />
    <result column="detail_address" property="detailAddress" />
    <result column="gender" property="gender" />
    <result column="birth" property="birth" />
    <result column="photo" property="photo" />
    <result column="grade" property="grade" />
    <result column="division_no" property="divisionNo" />
  </resultMap>
  
  <select id="login" parameterType="map" resultMap="MemberMap">
    select *
    from member
    where email =#{email} and password = #{password}
  </select>
  
  <select id="findId" parameterType="Member" resultType="String">
    select email 
    from member 
    where tel=#{tel} and name=#{name}
  </select>
  
  <select id="findPw" parameterType="Member" resultType="int">
   select count(*) 
   from member 
   where email=#{email} and name=#{name}
  </select>
  
  <update id="update" parameterType="Member">
    update member
    <set>
      <if test="email != null">email=#{email},</if>
      <if test="name != null">name=#{name},</if>
      <if test="password != null">password=password(#{password}), </if>
      <if test="nickname != null">nickname=#{nickname},</if>
      <if test="tel != null">tel=#{tel},</if>
      <if test="photo != null">photo=#{photo},</if>
      <if test="post != null">post=#{post},</if>
      <if test="basicAddress != null">basic_address=#{basicAddress},</if>
      <if test="detailAddress != null">detail_address=#{detailAddress}</if>
      <if test="gender != null">gender=#{gender}</if>
      <if test="birth != null">birth=#{birth}</if>
      <if test="grade != null">grade=#{grade}</if>
      <if test="divisionNo != null">division_no=#{divisionNo}</if>
    </set>
    where member_id = #{memberNo}
  </update>
  
  <select id="findBy" parameterType="int" resultMap="MemberMap">
    select 
    member_id, email, name, password, nickname, tel, photo, 
    post, basic_address, detail_address, gender, birth, 
    grade, division_no
    from member
    where member_id = #{memberNo}
  </select>
  
</mapper>