<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hobbyshare.dao.MypageDao">

  <resultMap type="Member" id="MemberMap">
    <id column="member_id" property="memberNo"/>
    <result column="nickname" property="nickName"/>
    <result column="basic_address" property="basicAddress"/>
    <result column="detail_address" property="detailAddress"/>
    <result column="division_no" property="divisionNo"/>
  </resultMap>
  
  <select id="login" parameterType="map" resultMap="MemberMap">
    select * from member where email=#{email} and password=#{pw}
  </select>
  
  <select id="checkNickName" parameterType="String" resultType="int">
    select count(*) from member where nickname=#{nickname}
  </select>
  
  <update id="updateNickName" parameterType="Member">
    update member set nickname="${nickName}" where member_id="${memberNo}"
  </update>
  
  <select id="checkPw" parameterType="Member" resultType="int">
    select count(*) from member where password="${password}" and member_id="${memberNo}"
  </select>
  
  <update id="updatePw" parameterType="Member">
    update member set password="${password}" where member_id="${memberNo}"
  </update>
  
  <select id="checkTel" parameterType="String" resultType="int">
    select count(*) from member where tel=#{tel}
  </select>
  
  <update id="updateTel" parameterType="Member">
    update member set tel="${tel}" where member_id="${memberNo}"
  </update>
  
  <update id="updateBasicAddress" parameterType="Member">
    update member set basic_address="${basicAddress}" where member_id="${memberNo}"
  </update>
  
</mapper>